body {width: 100%;
}
img, embed, video, object {
  max-width: 100%;
  /*alt width:100%;*/
}
img{width:45%;}
aside{float:right;}

.training p{font-style: italic;}
button {
  min-width: 48px;
  min-height: 48px;
}
.training li {
  border-style: solid;
  border-width: thin;
border-color: black;

width: 50%;

}
.training{
  display:flex;
  
}
.infotop {
  border-collapse: separate;
  border-spacing: 30px;
}

.Skills1 {
  border-style: solid;
  border-collapse: separate;
  border-spacing: 30px 0;
}
details {
  font: 16px "Open Sans", "Arial", sans-serif;
  width: 620px;

}

details > summary {
  padding: 2px 6px;
  width: 15em;
  background-color: #ddd;
  border: none;
  box-shadow: 3px 3px 4px black;
}

details > p {
  border-radius: 0 0 10px 10px;
  background-color: #ddd;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px black;
}
